<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="registration.css" rel="stylesheet">
</head>
<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="main.html">Home Furniture</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="main.html">Home</a></li>
                   
                    <li><a href="https://www.architecturaldigest.com/story/design-home-app-game-soar-to-the-top-of-the-app-store">Create design</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  
                  </ul>
                </div>
              </nav>
        
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <div class="fadeIn first">
            <img src="logo.jpg" id="icon" alt="User Icon" width="220px" />

            <h1>HomeFurniture</h1>
          </div>
      

          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
     
   
          <div id="formFooter">
            <a class="underlineHover" href="main.html">Go to the Site</a>
          </div>
      
        </div>
      </div>

</body>

</html>