<html>
<body>
<title>home design &#9754;</title>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="style.css" rel="stylesheet">
<!--for header-->
</head>
<script src="main.js"></script>
<!---header-->
<div id="background">
<p id="bg-text"> &#9754;Home Furniture &#9754;</p>
</div>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="main.html">Home Furniture</a>
</div>
<ul class="nav navbar-nav">
<li ><a href="main.html" class="active">Home</a></li>
<li><a href="https://www.architecturaldigest.com/story/design-home-app-game-soar-to-the-top-of-the-app-store">Create design</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
</div>
    </nav>
<div id="section1" class="container-fluid text-center">
 <div class="row">
     <div class="carousel slide" data-ride="carousel" data-interval="false" id="quote-carousel">
       <ol class="carousel-indicators">
         <li data-target="#quote-carousel" data-slide-to="0" ></li>
       </ol>
       <div class="carousel-inner _quote">
         <div class="item active">
           <img class="img2 img-responsive" src="furniture_style_leather_window_large_7706_300x255.jpg">
         </div>
</div>                          
</div>
</div>
<h2>New colleotion its availability!!</h2>
<div id="section2" class="container-fluid text-center">
<div class="row">
<div class="col-sm-3">
<div class="category_cards"><a href="https://www.elledecor.com/design-decorate/interior-designers/g3183/home-decor-ideas/?slide=1"><img src="xhtr-image-13005.jpg,qsize=555x321-3.pagesp8eed.ic.UGcUdz1t_-.jpg"  width="100%" height="100px" ></a></div>
</div>
<div class="col-sm-3">  
<div class="category_cards"><a href="https://www.housebeautiful.com/room-decorating/"><img src="furniture_style_leather_window_large_7706_300x255.jpg" width="100%" height="100px" ></a></div>
</div>
<div class="col-sm-3">
<div class="category_cards"><a href="https://www.housebeautiful.com/room-decorating/bedrooms/g648/beautiful-designer-bedrooms/"><img src="furniture_room_style_70008_300x255.jpg" width="100%" height="100px" ></a></div>
</div>
<div class="col-sm-3">
<div class="category_cards"><a href="https://www.elledecor.com/design-decorate/interior-designers/g3183/home-decor-ideas/?slide=1"><img src="images (3).jpg"  width="100%" height="100px" ></a></div>
</div>
</div>
 </div>
</div>
<div id="section3" class="container-fluid text-center">
<div class="row">
 <div class="col-sm-2 text-center">
   <a href="socialmedia.html" class="btn btn-info"  >contact us</a><br>
   
 </div>
 <span>&#169;Designed by Abdullah M.</span>
</body> 
</html>